@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
  padding: 20px;
}

a {
  color: gray;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
