@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Inter';
  background-color: #e6e7e8;
  color: #231f20;
}

a {
  color: gray;
}
.pfpImage {
  border-radius: 50%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
